
.navbar-brand{
    font-weight: 500;
    margin-top: 0px;
}
    
nav{
    margin-left: 60px;
}
.nav-item{
    font-size: 18px;
    color: teal;
}
body a{  
    font-weight: 600;
    font-family: 'Open Sans'; 
    text-decoration: none;
}
.coluna2{
    height: 300px;
    border-right: 1px solid rgba(0, 0, 0, 0.446);
}
