
.navbar-brand{
    font-weight: 500;
    margin-top: 0px;
}
    
nav{
    margin-left: 60px;
}
.nav-item{
    font-size: 18px;
    color: teal;
}
body a{   
    font-family: 'Open Sans'; 
    text-decoration: none;
}
