.navbar-brand{
    font-weight: 400px;
    margin-top: 0px;
}
    
nav{
    margin-left: 60px;
}
.nav-item{
    font-size: 18px;
    color: teal;
}
body a{  
    font-weight: 600;
    font-family: 'Open Sans'; 
    text-decoration: none;
}
.coluna2{
    border-right: 1px solid rgba(0, 0, 0, 0.103);
    border-left: 1px solid rgba(0, 0, 0, 0.103);
}
.img2:hover{
    -webkit-filter:grayscale(100%); 
    filter:grayscale(75%)
}
.container2{
    margin-top: 50px;    
}
.hr2{
    margin-right: 15px;
    margin-left: 15px;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.vermelho{
    color:#ce302b;
}
.verde{
    color: rgb(11, 172, 11);
}
 
a{
    text-decoration: none;
}
.col-12.col-lg-6.text-danger a:hover{
    
    color: #ED3833;
    text-decoration: none;
}
.col-12.p-1.col-sm-6.col-lg-2.text-danger a:hover{
    color: #ED3833;
}
.col-12.col-sm-6.col-lg-2.text-danger a:hover{
    color: #ED3833;
}
.col-12.col-sm-4.col-lg-2.text-danger a:hover{
    color: #ED3833;
}

.col-12.col-sm-6.col-lg-3.text-warning.coluna2 a:hover{
    color:rgb(11, 139, 11);
}
.col-12.col-sm-4.col-lg-3.text-success.coluna2 a:hover{
    color: rgb(11, 139, 11);
}
.col-12.col-sm-6.col-lg-3.text-success.coluna2 a:hover{
    color: rgb(11, 139, 11);
}

